body {
    background-color: #caf0f8;
    padding: 1%;
}

.nome {
    text-align: center;
}

.descricao {
    font-size: 20px;
    position: absolute;
    top: 30%;
    right: 1px;
}

.habilidades1 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

.habilidades2 {
    font-size: 18px;
}

#minha-foto {
    float: left;
    height: 300px;
    border-radius: 200px;
}

.image-container {
    height: 300px;
    position: relative;
}

.links {
    position: relative;
    height: 50px;
    text-align: left;
    padding-left: 90px;
    line-height: 50px;
}

.links a {
    text-decoration: none;
    color: blue;
}